:root {
  --die-with-a-smile-font-family: "Baloo Thambi", Helvetica;
  --die-with-a-smile-font-weight: 400;
  --die-with-a-smile-font-size: 36px;
  --die-with-a-smile-letter-spacing: 0px;
  --die-with-a-smile-line-height: normal;
  --die-with-a-smile-font-style: normal;
  --lady-gaga-bruno-mars-font-family: "Inter", Helvetica;
  --lady-gaga-bruno-mars-font-weight: 400;
  --lady-gaga-bruno-mars-font-size: 12px;
  --lady-gaga-bruno-mars-letter-spacing: 0px;
  --lady-gaga-bruno-mars-line-height: normal;
  --lady-gaga-bruno-mars-font-style: normal;
}
